/* 公共规约:所有样式以bl开头    模块和组件划分 */
/*全局设定*/
* {
  margin: 0;
  padding: 0;
  /* 将元素的内外边距算入总的尺寸 */
  box-sizing: border-box;
  /* font-size: 14px; */
  color: #393d49;
/*  outline: none;
  border: none; */
}

a {
  text-decoration: none;
}

ul{
	list-style: none;
}

/* 全局布局 */

/* flex布局,居中对齐 */
.bl-df-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* flex布局,水平方向左对齐 */
.bl-df-left{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* flex布局,水平方向右对齐 */
.bl-df-right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.bl-df-column{
	display: flex;
	flex-direction: column;
}

/* 流式布局,块状元素水平防线居中对齐 */
.bl-center{
	display: block;
	text-align: center;
}


/* 流式布局,水平防线居左对齐 */
.bl-left{
	display: block;
	text-align: left;
}

/* 流式布局,水平防线居右对齐 */
.bl-right{
	display: block;
	text-align: right;
}



/* 居中留白容器 */
.bl-container{
	width: 65%;
	margin: 0 auto;
}
.bl-row {
	display: flex;
	flex-wrap: wrap;
}




/* 栅格布局 */
.bl-row{
	display: flex;
}
.bl-col-12{
	flex: 1 1 100%;
}
.bl-col-8{
	flex: 1 1 66.6%;
}
.bl-col-6{
	flex: 1 1 50%;
}
.bl-col-4{
	flex: 1 1 30.3%;
}
.bl-col-3{
	flex: 1 1 25%;
}
.bl-col-2{
	flex: 1 1 16.6%;
}
.bl-col-1{
	flex: 1 1 8.3%;
}



h1,
h2,
h3,
h4,
h5,
h6{
  color: rgb(51, 51, 51);
  font-weight: 600;
}

/* 主标题字体 */
.bl-title{
	font-size: 21px;
	font-weight: 700;
	color: #333;
}

/* 副标题字体 */
.bl-sub-title{
	font-size: 13px;
	/* font-weight: 500;
	color: #333; */
}

/* 备注字体 */
.bl-meta{
	color: #969696;
}

/* 按钮基础样式 */
.bl-btn{
	border: none;
	outline: none;
	cursor: pointer;
	/* 按钮内字不换行 */
	white-space: nowrap;
	margin: 5px;
}

/* 圆角按钮 */
.bl-btn-round{
	border-radius: 20px;
}

/* 圆形按钮 */
.bl-btn-circle{
	border-radius: 50%;
}
/* 主题 */
.bl-btn-default{
	background-color: #009688;
	color: #fff;
}
.bl-btn-warning{
	background-color: #ff9900;
	color: #fff;
}
.bl-btn-info{
	background-color: #2db7f5;
	color: #fff;
}

/* 禁用按钮 */
.bl-btn-disable{
	background-color: #ccc;
	color: #fff;
}
/* 警告按钮 */
.bl-btn-disable{
	background-color: #ffb800;
	color: #fff;
}
/* 按钮尺寸 */
.bl-btn-lg{
	width: 120px;
	height: 40px;
}
.bl-btn-nomal{
	width: 100px;
	height: 35px;
}
.bl-btn-small{
	width: 80px;
	height: 30px;
}

/* 表单元素样式 */
.bl-input-box{
	display: block;
	height: 40px;
	outline: none;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* 卡片样式 */
.bl-card{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.bl-card-header{
	flex:0 0 30%;
}
.bl-card-body{
	flex:0 0 70%;
}
	
.bl-card-article{
	display: flex;
	width: 100%;
	height: auto;
	background-color: #eee;
	margin: 0 0 15px;
	padding: 15px 2px 20px 0;
	/* word-wrap: break-word; */
	position: relative;
}
.bl-card-article-left{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 15px;
	flex: 0 0 70%;
	
}
.bl-card-article-right{
	flex: 0 0 30%;
	width:  160px;
	height: 110px;
	position: absolute;
	top: 50%;
	margin-top: -55px;
	bottom: 40px;
	right: 0;
	margin-right: 10px;
	
}
.bl-card-img{
	width: 100%;
	height: 100%;
	border-radius: 4px;
	border: 1px solid #f0f0f0;
}


hr{
	color: #eee;
	width: 80%;
	margin: 0 auto;
}
/* 头像 */
.bl-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* 阴影样式 */
.bl-shadow{
	box-shadow:0 5px 20px rgba(0,0,0,.1);
}
.main-color {
  background-image: linear-gradient(to right, rgb(183, 214, 236) 0%, rgb(190, 190, 190) 100%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 7px 10px 0 rgba(0, 0, 0, 0.12);
  opacity: 0.7;
}
