/* 公共规约:所有样式以bl开头    模块和组件划分 */
/*全局设定*/
@font-face {
  font-family: 'iconfont';  /* project id 1528934 */
  src: url('//at.alicdn.com/t/font_1528934_ul205fo5m4.eot');
  src: url('//at.alicdn.com/t/font_1528934_ul205fo5m4.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1528934_ul205fo5m4.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1528934_ul205fo5m4.woff') format('woff'),
  url('//at.alicdn.com/t/font_1528934_ul205fo5m4.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1528934_ul205fo5m4.svg#iconfont') format('svg');
}
	.iconfont{
	    font-family:"iconfont" !important;
	    font-size:16px;font-style:normal;
	    -webkit-font-smoothing: antialiased;
	    -webkit-text-stroke-width: 0.2px;
	    -moz-osx-font-smoothing: grayscale;}
* {
  margin: 0;
  padding: 0;
  /* 将元素的内外边距算入总的尺寸 */
  box-sizing: border-box;
  /* font-size: 14px; */
  color: #393d49;
/*  outline: none;
  border: none; */
}

a {
  text-decoration: none;
}

ul{
	list-style: none;
}

/* 全局布局 */

/* flex布局,居中对齐 */
.bl-df-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* flex布局,水平方向左对齐 */
.bl-df-left{
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

/* flex布局,水平方向右对齐 */
.bl-df-right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.bl-df-column{
	display: flex;
	flex-direction: column;
}

/* 流式布局,块状元素水平防线居中对齐 */
.bl-center{
	display: block;
	text-align: center;
}


/* 流式布局,水平防线居左对齐 */
.bl-left{
	display: block;
	text-align: left;
}

/* 流式布局,水平防线居右对齐 */
.bl-right{
	display: block;
	text-align: right;
}



/* 居中留白容器 */
.bl-container{
	width: 70%;
	margin: 0 auto;
}
.bl-row {
	display: flex;
	flex-wrap: wrap;
}




/* 栅格布局 */
.bl-row{
	display: flex;
}
.bl-col-12{
	flex: 1 1 100%;
}
.bl-col-8{
	flex: 1 1 66.6%;
}
.bl-col-6{
	flex: 1 1 50%;
}
.bl-col-4{
	flex: 1 1 30.3%;
}
.bl-col-3{
	flex: 1 1 25%;
}
.bl-col-2{
	flex: 1 1 16.6%;
}
.bl-col-1{
	flex: 1 1 8.3%;
}



h1,
h2,
h3,
h4,
h5,
h6{
  color: rgb(51, 51, 51);
  font-weight: 600;
}

/* 主标题字体 */
.bl-title{
	font-size: 21px;
	font-weight: 700;
	color: #333;
}

/* 副标题字体 */
.bl-sub-title{
	font-size: 13px;
	/* font-weight: 500;
	color: #333; */
}

/* 备注字体 */
.bl-meta{
	color: #969696;
}

/* 按钮基础样式 */
.bl-btn{
	border: none;
	outline: none;
	cursor: pointer;
	/* 按钮内字不换行 */
	white-space: nowrap;
	margin: 5px;
}

/* 圆角按钮 */
.bl-btn-round{
	border-radius: 20px;
}

/* 圆形按钮 */
.bl-btn-circle{
	border-radius: 50%;
}
/* 主题 */
.bl-btn-default{
	background-color: #009688;
	color: #fff;
}
.bl-btn-warning{
	background-color: #ff9900;
	color: #fff;
}
.bl-btn-info{
	background-color: #2db7f5;
	color: #fff;
}

/* 禁用按钮 */
.bl-btn-disable{
	background-color: #ccc;
	color: #fff;
}
/* 警告按钮 */
.bl-btn-disable{
	background-color: #ffb800;
	color: #fff;
}
/* 按钮尺寸 */
.bl-btn-lg{
	width: 120px;
	height: 40px;
}
.bl-btn-nomal{
	width: 100px;
	height: 35px;
}
.bl-btn-small{
	width: 80px;
	height: 30px;
}

/* 表单元素样式 */
.bl-input-box{
	display: block;
	height: 40px;
	outline: none;
	border: 1px solid #eee;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* 卡片样式 */
.bl-card{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.bl-card-header{
	flex:0 0 30%;
}
.bl-card-body{
	flex:0 0 70%;
}
	
.bl-card-article{
	display: flex;
	width: 100%;
	height: auto;
	background-color: #eee;
	margin: 0 0 15px;
	padding: 15px 2px 20px 0;
	/* word-wrap: break-word; */
	position: relative;
}
.bl-card-article-left{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 15px;
	flex: 0 0 70%;
	
}
.bl-card-article-right{
	flex: 0 0 30%;
	width:  160px;
	height: 110px;
	position: absolute;
	top: 50%;
	margin-top: -55px;
	bottom: 40px;
	right: 0;
	margin-right: 10px;
	
}
.bl-card-img{
	width: 100%;
	height: 100%;
	border-radius: 4px;
	border: 1px solid #f0f0f0;
}


hr{
	color: #eee;
	width: 80%;
	margin: 0 auto;
}
/* 头像 */
.bl-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.bl-avatar-big {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/* 阴影样式 */
.bl-shadow{
	box-shadow:0 5px 20px rgba(0,0,0,.1);
}

.main-color {
  background-image: linear-gradient(to right, rgb(183, 214, 236) 0%, rgb(190, 190, 190) 100%);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 7px 10px 0 rgba(0, 0, 0, 0.12);
  opacity: 0.7;
}






/* 字体设置 */
p {
	font-size: 15px;
	line-height: 18px;
}

.title {
	font-size: 18px;
	font-weight: 600;
	color: rgba(0, 0, 0, 0.8);
}

.sub-title {
	font-size: 16px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.7);
}

.meta {
	font-size: 13px;
	color: #b4b4b4;
}

/* ---------主题设置----------- */
.primary-fill {
	background-color: #009688;
	color: #fff;
}

.primary-border {
	border: 1px solid #009688;
	color: #009688;
}

.warning-fill {
	background-color: #fb8c00;
	color: #fff;
}

.warning-border {
	border: 1px solid #fb8c00;
	color: #fb8c00;
}

.success-fill {
	background-color: #4caf50;
	color: #fff;
}

.success-border {
	border: 1px solid #4caf50;
	color: #4caf50;
}

.disable-fill {
	background-color: #e0e0e0;
	color: #fff;
}

.disable-border {
	border: 1px solid #e0e0e0;
	color: #e0e0e0;
}

.dark-fill {
	background-color: #555555;
	color: #fff;
}

.dark-border {
	border: 1px solid #555555;
	color: #555555;
}

/* --------------按钮设置------------ */
.btn {
	border: none;
	cursor: pointer;
	width: 120px;
	height: 35px;
}

.btn-lg {
	/* width: 140px; */
	height: 40px;
}

.btn-rd {
	border-radius: 20px;
}

.btn-circle {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

/* 表单元素样式 */
.input-box {
	display: block;
	width: 90%;
	border: 1px solid darkcyan;
	border-radius: 5px;
	height: 40px;
	margin-bottom: 20px;
}

/* 阴影样式 */
.shadow {
	box-shadow: 2px 5px 10px #aaa;
}

/* 头像样式 */
.avatar-xs {
	display: inline-block;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.avatar-lg {
	display: inline-block;
	width: 55px;
	height: 55px;
	border-radius: 50%;
}

.avatar-xs,
.avatar-lg:hover {
	cursor: pointer;
}

/* 图片缩略样式 */
.thumnail-xs {
	width: 150px;
	height: 150px;
	border-radius: 10px;
}

.thumnail-lg {
	width: 200px;
	height: 200px;
	border-radius: 10px;
}

/* 导航条 */
.nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;
}

.nav-bar {
	width: 100%;
	height: 70px;
}

.nav-list {
	width: 80%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	/* justify-content: space-around; */
}

.nav-item {
	height: 70px;
	line-height: 70px;
}
.nav-item input{
	margin-top: 15px;
	width: 200px;
	height: 35px;
}
  
.nav-item img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
}

.nav-item a {
	display: inline-block;
	width: 80px;
	height: 35px;
	margin-right: 5px;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	text-align: center;
	line-height: 35px;
	letter-spacing: 3px;
}

.nav-right {
	float: right;
}

/* 边框 */
.border {
	border: 1px solid #ddd;
	border-radius: 5px;

}

/* 文章样式 */
.media-wraaper {
	display: flex;
	height: 200px;
	margin: 10px;
	border-bottom: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
}

.media-left {
	flex: 1 1 15%;
}

.media-middle {
	flex: 1 1 65%;
}

.media-right {
	flex: 1 1 20%;
}

.media-right img {
	width: 80%;
	height: 80%;
}

.card {
	width: 90%;
	height: 200px;
	border: 1px solid #eee;
	border-radius: 5px;
	margin: 5px;
}

.card img {
	width: 100%;
	height: 60%;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
